<!doctype html>
<html>
<head>
  <title>Nabeel Is Homeless. Please Help Him.</title>
  <link href='css/bootstrap.css' rel='stylesheet' type='text/css'>
  <style>
    body {
      padding-top:40px;
    }
  </style>
</head>
<body> 
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <ul class='nav'>
          <a class="brand" href="#">Homelessness</a>
          <li class="active"><a href='#'>Fund someone</a></li>
          <li><a href='#'>About us</a></li>
          <li><a href='#'>FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='container'> 
    <div class='banner'>
      <h3 style='text-align:center; line-height:175px; font-size:2em;'>
        DO SOMETHING TODAY. NABEEL'S LIFE DEPENDS ON IT. 
      </h3>
    </div>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <div class="con">
            <img data-src="" alt="" style="height: 200px;" src="http://f.cl.ly/items/461w2l1p1k1i2d011O0z/Boat.jpg">
            <h3>Nabeel Qureshi</h3>
            <p>£400 raised; 3 donors</p>
            <div class="progress">
              <div class="bar" style="width: 40%;"></div>
            </div>
            <div class='btn btn-large btn-block btn-primary'>
              Read More
            </div>
          </div>
        </div>
      </li>  
      <li class="span4">
         <div class="thumbnail">
          <div class="con">
            <img data-src="" alt="" style="height: 200px;" src="http://f.cl.ly/items/461w2l1p1k1i2d011O0z/Boat.jpg">
            <h3>Nabeel Qureshi</h3>
            <p>£400 raised; 3 donors</p>
            <div class="progress">
              <div class="bar" style="width: 40%;"></div>
            </div>
            <div class='btn btn-primary btn-block btn-large'>
              Read More
            </div>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <div class="con">
            <img data-src="" alt="" style="height:200px;" src="http://f.cl.ly/items/461w2l1p1k1i2d011O0z/Boat.jpg">
            <h3>Nabeel Qureshi</h3>
            <p>£400 raised; 3 donors</p>
            <div class="progress">
              <div class="bar" style="width: 40%;"></div>
            </div>
            <div class='btn btn-primary btn-block  btn-large'>
              Read More
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr>
    <footer>
      <p>Copyright Douche Inc 2013</p>
    </footer>
  </div>
</body>
</html>
